div.doneButton {
  display : inline-block;
  padding : 4px;
  margin-left : 2px;
  color : red;
  font-weight : bold;
  text-align: left;
}

div.doneButton:hover {
  transform : scale(2);
  cursor : pointer;
}

img {
  border-radius:3px;
}