div.removeButton {
  display : inline-block;
  padding : 4px;
  margin-left : 5px;
  font-weight : bold;
  text-align: left;
}

div.removeButton:hover {
  transform : scale(2);
  cursor : pointer;
}